<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>NuevaOrden</title>
  </head>
  <body>
    <section>
      <div class="display">
        <h1 id="titulo">
          Su nueva orden es:
          <span id="foo">
            <h2>Orden <%=numeroPlusOne%></h2>
            <p class="guion">-</p>
          </span>
        </h1>
      </div>
      <div class="botones">
        <button class="btn" data-clipboard-target="#foo" onclick="alerta()">
          Copiar <%=numeroPlusOne%>
        </button>

        <form action="/" method="GET">
          <button id="init">Inicio</button>
        </form>
      </div>
    </section>
  
    <style>
     * {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: rgb(0, 55, 70);
}
section{
  width:100%;
  height:100vh;
  margin: 20px 0 20px 0;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.display{
  background-color: rgba(129, 129, 129,0.5);
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0 0 0;
  border-radius: 10px;
}

.botones{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:20px 0px 20px 0px;
}


.guion {
  opacity: 0;
}
button {
  background-color: black;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 40px 20px 40px;
  position: relative;
  border-radius: 12px;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    white,
    rgb(255, 255, 200),
    rgb(255, 230, 0),
    rgb(255, 130, 0),
    rgb(255, 0, 0),
    rgb(255, 0, 200),
    rgb(180, 0, 255),
    rgb(0, 0, 255),
    rgb(0, 200, 255),
    rgb(0, 255, 0)
  );
  background-size: 800%;
  border-radius: 10px;
  border-radius: 10px;
  filter: blur(8px);
  animation: res 20s linear infinite;
}

@keyframes res {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.formu{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.formu input{
  border-radius: 10px;
  height: 50px;
  width: 150px;
  border: none;
  padding: 20px;
  font-size: 1em;
 text-align: center;
}

@media(max-height: 251px) {
  section {
    width: 272px;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
  background-color: black;
  cursor: pointer;
  border: none;
  padding: 10px 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 40px 20px 40px;
  position: relative;
  border-radius: 12px;
}
.display {
  margin-top: 22px;
  background-color: rgba(129, 129, 129,0.5);
  width: 240px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0 0 0;
  border-radius: 10px;
}
#titulo{
  font-size: 18px;
}
#init{
display: none;
}

    </style>
    <script src="/javascript/js.js" ></script>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.3/dist/clipboard.min.js"></script>  
 <script>window.addEventListener("load", function () {
  const clipboard = new Clipboard(".btn");

  function alerta() {
    alert(
      "Se copió con exito el numero de orden, no olvide pegarlo antes del titulo de su tarjeta en trello"
    );
  }

  let formu = document.querySelector("form.formu");

  formu.addEventListener("submit", function (e) {
    e.preventDefault();

    let campo = document.querySelector("#num");

    if (campo.value <= 0) {
      alert("Ingrese un número válido");
    }else{
      formu.submit()
    }
  });
});
</script>
 
 
  </body>
</html>
