<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Seteo de Orden</title>
  </head>
  <body>
    <section>
      <div class="display">
        <form class="formu" action="/set" method="POST">
          <h2>Ingrese el número de orden que desea predefinir</h2>
          <input type="number" name="numero" id="num"  placeholder="solo números" />
          <button id="definir" type="submit" aria-required="true">Envíar</button>
        </form>
      </div>
    </section>
    <script src="/javascript/js.js" ></script>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.3/dist/clipboard.min.js"></script>
  
  
  </body>
</html>
